body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar-active {
    background-color: #f3f4f6;
    color: #1e3a8a;
    font-weight: 700;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar-active::before {
    content: '';
    position: absolute;
    right: 0;
    top: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px #f3f4f6;
    pointer-events: none;
}

.sidebar-active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px #f3f4f6;
    pointer-events: none;
}

input[type="file"] {
    display: none;
}